package-lock.json
*.js.map
/stats.html
node_modules
/build
/coverage
.DS_Store
/lerna-debug.log
/gh-pages
/packages/**/*.js.map
/packages/*/*.tgz
/packages/*/package-lock.json
**/*.tsbuildinfo*
!packages/*/custom_types/**
/test/lib/
/scripts/tsc-out/
.vscode
/dist
